nav {
    background: #F28F0D;
    box-shadow: 0 0 20px #ddd;
}
.bg-body-tertiary{
    background: #F28F0D!important;

}
.nav-link{
    font-weight: 800;
    font-size: 22px;
    color: #fff;
}
.nav-link:hover{
    color: #000;
}
.navbar-collapse {
    flex-grow: unset;
}