.resturant_card_img img{
    width: 100%;
    height: 255px;
}
.resturant_card_img{
    border-radius: 50px;
    overflow: hidden!important;

  }
  .resturant_card_img:hover{
    box-shadow: 0 0 8px #000!important;
  }