.footer{
background-color: #F28F0D;

}
ul{
    justify-content: center;
}
div li,div h6{
   list-style-type: none;
   font-weight: 800;
   font-size: 18px;
}
.footer_link{
    text-decoration: none;
    color:#fff
}
.footer_link:hover{
    color: #000;
}
@media screen and (max-width: 450px) {
    a.footer_link {
        font-size: 15px;
    } 
    ul{
        padding-left: 0rem;
    }
    .footer_link-ul {
        padding-right: 0.7rem !important;
        padding-left: 0.7rem !important;
    }
}
